Repository codogob/back-home-safe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

chore: update web rtc adapter import
  src/App.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: multiple enter location
  package-lock.json
  package.json
  src/App.tsx
  src/components/CheckBox.tsx
  src/components/LeaveModal/index.tsx
  src/containers/Confirm/ConfirmPage.tsx
  src/containers/Confirm/index.tsx
  src/containers/ConfirmPageSetting/index.tsx
  src/containers/MainScreen/Home.tsx
  src/containers/MainScreen/TravelRecord.tsx
  src/containers/MainScreen/index.tsx
  src/containers/QRReader/index.tsx
  src/hooks/useEncryptedStore.ts
  src/hooks/useMigration.ts
  src/hooks/useTravelRecord.ts
  src/locales/english/global.json
  src/locales/english/mainScreen.json
  src/locales/traditionalChinese/global.json
  src/locales/traditionalChinese/mainScreen.json
Due: prettier --write, import-sort --write, eslint --fix

feat: update tutorial translation
  src/locales/english/tutorial.json
Due: prettier --write

feat: update home page input translation
  src/locales/english/mainScreen.json
Due: prettier --write

feat: enforce encryption logic
  src/hooks/useEncryptedStore.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: remove unused dependency
  src/hooks/useTravelRecord.ts
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: add editor config
  .editorconfig
Due: none

refactor: extract sort record logic
  src/hooks/useTravelRecord.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: update dependency
  package-lock.json
  package.json
Due: prettier --write

feat: auto delete record
  src/containers/MainScreen/Settings.tsx
  src/containers/MainScreen/TravelRecord.tsx
  src/hooks/useTravelRecord.ts
  src/locales/english/mainScreen.json
  src/locales/traditionalChinese/mainScreen.json
Due: prettier --write, import-sort --write, eslint --fix

chore: update translation
  src/locales/english/mainScreen.json
Due: prettier --write

feat: bookmark location
  src/App.tsx
  src/components/LeaveModal/Prompt.tsx
  src/components/LeaveModal/index.tsx
  src/containers/Confirm/ConfirmPage.tsx
  src/containers/ConfirmPageSetting/index.tsx
  src/containers/Login/index.tsx
  src/containers/MainScreen/Bookmark.tsx
  src/containers/MainScreen/Home.tsx
  src/containers/MainScreen/index.tsx
  src/containers/QRReader/index.tsx
  src/containers/Tutorial/index.tsx
  src/hooks/useBookmark.ts
  src/hooks/useEncryptedStore.ts
  src/hooks/useLock.ts
  src/hooks/useMigration.ts
  src/hooks/useTravelRecord.ts
  src/index.tsx
  src/locales/english/mainScreen.json
  src/locales/traditionalChinese/mainScreen.json
  src/utils/qr.ts
Due: prettier --write, import-sort --write, eslint --fix

docs: update readme
  README.md
Due: none

feat: export records
  src/containers/MainScreen/Settings.tsx
  src/locales/english/mainScreen.json
  src/locales/traditionalChinese/mainScreen.json
Due: prettier --write, import-sort --write, eslint --fix

feat: update new version message
  src/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: add logo source
  logoSource.ai
Due: none

chore: remove unused dependency
  src/hooks/useBookmark.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: animated main page tab transition
  package-lock.json
  package.json
  src/containers/MainScreen/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: vaccination qr reader
  package-lock.json
  package.json
  src/App.tsx
  src/containers/MainScreen/Settings.tsx
  src/containers/VaccinationQRReader/index.tsx
  src/locales/english/index.ts
  src/locales/english/mainScreen.json
  src/locales/english/vaccination_qr_reader.json
  src/locales/traditionalChinese/index.ts
  src/locales/traditionalChinese/mainScreen.json
  src/locales/traditionalChinese/vaccination_qr_reader.json
  src/react-app-env.d.ts
  src/utils/sign.ts
  src/utils/vaccinationQRHelper.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: vaccination QR result display
  package-lock.json
  package.json
  src/containers/VaccinationQRReader/index.tsx
  src/utils/vaccinationQRHelper.ts
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update confirm page style
  src/containers/Confirm/ConfirmPage.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: auto leave button
  src/containers/Confirm/ConfirmPage.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update dependency
  package-lock.json
  package.json
  src/components/MediaStream.tsx
  src/hooks/useCamera.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: travel record text overflow
  src/containers/MainScreen/Bookmark.tsx
  src/containers/MainScreen/TravelRecord.tsx
Due: prettier --write, import-sort --write, eslint --fix

build: use vite
  .gitignore
  .gitlab-ci.yml
  index.html
  package-lock.json
  package.json
  src/containers/MainScreen/Settings.tsx
  src/react-app-env.d.ts
  vite.config.ts
Due: prettier --write, import-sort --write, eslint --fix

refactor: all in one store
  src/App.tsx
  src/components/MediaStream.tsx
  src/containers/Login/index.tsx
  src/containers/MainScreen/Settings.tsx
  src/containers/MainScreen/TravelRecord.tsx
  src/containers/Tutorial/index.tsx
  src/hooks/useBookmark.ts
  src/hooks/useData.ts
  src/hooks/useEncryptedStore.ts
  src/hooks/useLock.ts
  src/hooks/useMigration.ts
  src/hooks/useTravelRecord.ts
  src/index.tsx
  src/locales/english/qrReader.json
  src/locales/english/vaccination_qr_reader.json
  src/locales/traditionalChinese/qrReader.json
  src/locales/traditionalChinese/vaccination_qr_reader.json
Due: prettier --write, import-sort --write, eslint --fix

fix: dependency array
  src/hooks/useData.ts
Due: prettier --write, import-sort --write, eslint --fix

ci: update github build script
  .github/workflows/main.yml
Due: none

ci: fix dist path
  .github/workflows/main.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts,tsx,js})) or (any of: *.json)
  import-sort --write: any of: *.{ts,tsx,js}
  eslint --fix: any of: *.{ts,tsx,js}
