Repository codogob/back-home-safe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

chore(release): 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: extract text to i18n
  package-lock.json
  package.json
  src/App.tsx
  src/components/Disclaimer.tsx
  src/components/LeaveModal/Prompt.tsx
  src/components/LeaveModal/TimePickModal.tsx
  src/components/MediaStream.tsx
  src/containers/CameraSetting/index.tsx
  src/containers/Confirm/AutoLeaveModal.tsx
  src/containers/Confirm/index.tsx
  src/containers/ConfirmPageIconSetting/index.tsx
  src/containers/Disclaimer/index.tsx
  src/containers/Login/index.tsx
  src/containers/MainScreen/Home.tsx
  src/containers/MainScreen/Settings.tsx
  src/containers/MainScreen/TravelRecord.tsx
  src/containers/MainScreen/index.tsx
  src/containers/QRGenerator/index.tsx
  src/containers/QRReader/index.tsx
  src/containers/Tutorial/AddToHomeScreen.tsx
  src/containers/Tutorial/Disclaimer.tsx
  src/containers/Tutorial/SetupPassword.tsx
  src/containers/Tutorial/index.tsx
  src/index.tsx
  src/locales/index.ts
  src/locales/traditionalChinese/cameraSetting.json
  src/locales/traditionalChinese/confirm.json
  src/locales/traditionalChinese/confirmPageIcon.json
  src/locales/traditionalChinese/disclaimer.json
  src/locales/traditionalChinese/global.json
  src/locales/traditionalChinese/index.ts
  src/locales/traditionalChinese/login.json
  src/locales/traditionalChinese/mainScreen.json
  src/locales/traditionalChinese/qrGenerator.json
  src/locales/traditionalChinese/qrReader.json
  src/locales/traditionalChinese/tutorial.json
  src/utils/dayjs.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: remove unused import
  src/locales/index.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: language switcher
  src/constants/languageType.ts
  src/containers/MainScreen/Settings.tsx
  src/containers/Tutorial/Language.tsx
  src/containers/Tutorial/index.tsx
  src/hooks/useI18n.ts
  src/index.tsx
  src/locales/index.ts
  src/locales/traditionalChinese/mainScreen.json
  src/locales/traditionalChinese/tutorial.json
  src/utils/dayjs.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: english local
  src/containers/MainScreen/Settings.tsx
  src/containers/Tutorial/Language.tsx
  src/locales/english/cameraSetting.json
  src/locales/english/confirm.json
  src/locales/english/confirmPageIcon.json
  src/locales/english/disclaimer.json
  src/locales/english/global.json
  src/locales/english/index.ts
  src/locales/english/login.json
  src/locales/english/mainScreen.json
  src/locales/english/qrGenerator.json
  src/locales/english/qrReader.json
  src/locales/english/tutorial.json
  src/locales/index.ts
Due: prettier --write, import-sort --write, eslint --fix

fix: taxi leave button text
  src/containers/Confirm/index.tsx
  src/locales/english/confirm.json
  src/locales/traditionalChinese/confirm.json
Due: prettier --write, import-sort --write, eslint --fix

feat: eng disclaimer
  README.md
  src/locales/english/global.json
Due: prettier --write

chore: update build script
  .gitlab-ci.yml
Due: none

chore(release): 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: update build script
  .gitlab-ci.yml
Due: none

chore: update readme
  README.md
Due: none

chore(release): 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: fix build stage
  .gitlab-ci.yml
Due: none

chore(release): 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: venue name getter react to language
  src/components/LeaveModal/index.tsx
  src/containers/Confirm/index.tsx
  src/containers/MainScreen/TravelRecord.tsx
  src/containers/QRReader/index.tsx
  src/hooks/useI18n.ts
  src/utils/qr.ts
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: venueId not trimmed
  src/utils/qr.ts
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: align travel record i18n translation to visit record
  src/locales/english/mainScreen.json
Due: prettier --write

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update english translation
  src/locales/english/confirmPageIcon.json
  src/locales/english/mainScreen.json
Due: prettier --write

chore(release): 1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: add github action flow
  .github/workflows/main.yml
Due: none

feat: update confirm page setting name
  src/containers/ConfirmPageIconSetting/index.tsx
  src/containers/MainScreen/Settings.tsx
  src/locales/english/confirmPageSetting.json
  src/locales/english/index.ts
  src/locales/english/mainScreen.json
  src/locales/traditionalChinese/confirmPageSetting.json
  src/locales/traditionalChinese/index.ts
  src/locales/traditionalChinese/mainScreen.json
Due: prettier --write, import-sort --write, eslint --fix

docs: update readme
  README.md
Due: none

fix: nav shadow covered by main content
  src/containers/MainScreen/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

refactor: rename confirm page component
  src/App.tsx
  src/containers/ConfirmPageSetting/index.tsx
  src/containers/MainScreen/Settings.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: Automatically Comprehensible Password Forms
  src/containers/Login/index.tsx
  src/containers/Tutorial/SetupPassword.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: fix typos and update translations
  src/containers/CameraSetting/index.tsx
  src/locales/english/cameraSetting.json
  src/locales/english/confirm.json
  src/locales/english/mainScreen.json
  src/locales/english/qrReader.json
  src/locales/english/tutorial.json
  src/locales/traditionalChinese/cameraSetting.json
Due: prettier --write, import-sort --write, eslint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update dependency
  package-lock.json
  package.json
Due: prettier --write

ci: fix script condition
  .gitlab-ci.yml
Due: none

refactor: replace route transition lib
  package-lock.json
  package.json
  src/App.tsx
  src/components/AnimatedSwitch.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: route key
  src/App.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: route redirect logic
  src/App.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: remove unused dependency
  src/App.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: remove all console log
  src/App.tsx
  src/components/DatePicker.tsx
  src/components/MediaStream.tsx
  src/hooks/usePWA.ts
  src/utils/mediaStream.ts
  src/utils/qr.ts
Due: prettier --write, import-sort --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts,tsx,js})) or (any of: *.json)
  import-sort --write: any of: *.{ts,tsx,js}
  eslint --fix: any of: *.{ts,tsx,js}
